bancos/t1.csv
bancos/t2.csv
estatisticas-burocratas-externos.txt
estatisticas-burocratas-homoafetivos.txt
estatisticas-burocratas-masculinos.txt
estatisticas-diretoras-externos.txt
estatisticas-diretoras-homoafetivos.txt
estatisticas-diretoras-masculinos.txt
tabela.tex
